<a href="https://colab.research.google.com/github/natanael2009/python/blob/main/aula_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**aula 1** ⚾ ♈ ⏰

In [ ]:
print("I competição de programação dá Start")
ano = "II"
print(f"{ano}")

I competição de programação dá Start

#**aula 2** ⚓ * ⚛

In [2]:
livro_ficcao = 8
livro_n_ficcao = 10
livro_infantil = 6
pontos_rodrigo = livro_ficcao + livro_n_ficcao + livro_infantil
pontos_ana = 2 * livro_ficcao + 5 * livro_infantil
pontos_totais = pontos_rodrigo + pontos_ana
print(f"Os pontos totais do Rodrigo são {pontos_rodrigo}")
print(f"os pontos totais de ana são{pontos_ana}")
print(f"os pontos totais do rodrigo e da ana são{pontos_totais}")

Os pontos totais do Rodrigo são 24
os pontos totais de ana são46
os pontos totais do rodrigo e da ana são70

#**aula 3 tabuada** ✈ ⛹ ⚛

In [6]:
def tabuada(numero):
    for contador in range(1, 11):  # Gera números de 1 a 10
        print(f"{numero} x {contador} = {numero * contador}")
numero = int(input("Digite um número para ver sua tabuada: "))
tabuada(numero)

Digite um número para ver sua tabuada: 8000
8000 x 1 = 8000
8000 x 2 = 16000
8000 x 3 = 24000
8000 x 4 = 32000
8000 x 5 = 40000
8000 x 6 = 48000
8000 x 7 = 56000
8000 x 8 = 64000
8000 x 9 = 72000
8000 x 10 = 80000